body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}
* {
  font-family: "Titillium Web", sans-serif;
}
*:focus {
  outline-color: #4162f6;
}

.container {
  margin: 5% auto;
  background: white;
  width: 34%;
  border-radius: 1rem 1rem 0 0;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  height: inherit;
}
.btn {
  background-color: olivedrab;
}
li span {
  width: 40%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.fa-trash {
  margin: auto 0 auto 5.4rem;
}

.done {
  text-decoration: line-through;
  color: darkgrey;
}
#input {
  border: 1px dotted #4162f6;
  border-radius: 5px;
  height: 2rem;
  width: 80%;
  padding-left: 6px;
}
#input::placeholder {
  color: #4162f6;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.header {
  background: url(img/bg.jpg) no-repeat; /**images.jpg*bg.png*/
  background-size: 100%;
  background-position-y: -2.34rem;
  height: 12.5rem;
  border-radius: 1rem 1rem 0 0;
}

li {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  list-style: none;
}
footer {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0.6rem;
}
#sub {
  color: #4162f6;
}
#List {
  min-height: 50vh;
}
hr {
  border: none;
  height: 1px;
  background: rgba(169, 169, 169, 0.342);
}

#check {
  appearance: none;
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  background-color: darkgrey;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 1rem;
}
#check:focus {
  outline: none;
}
#check:after {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  font-size: 1rem;
  color: aliceblue;
  display: none;
}
#check:hover {
  background-color: rgb(134, 134, 134);
}
#check:checked {
  background-color: #66a300;
}

#check:checked:after {
  display: block;
}
.fa-trash:hover {
  color: rgb(167, 7, 7);
}
.fa-sync-alt {
  color: white;
  margin: 1rem 90% auto;
}
.fa-sync-alt:hover {
  text-shadow: #000000 2px 2px 4px;
  transform: rotate(45deg);
}
#date {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  display: block;
  width: 60%;
  position: absolute;
  top: 14.7rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
#input[value] {
  font-size: 12rem;
}
@media only screen and (max-width: 1355px) {
  #date {
    top: 13rem;
  }
  .header {
    height: 11rem;
  }
}
@media only screen and (max-width: 1220px) {
  #date {
    top: 12rem;
  }
  .header {
    height: 10rem;
  }
}
@media only screen and (max-width: 1130px) {
  #date {
    top: 11rem;
  }
  .header {
    height: 9.5rem;
  }
}
@media only screen and (max-width: 1070px) {
  #date {
    top: 10rem;
  }
  .header {
    height: 9rem;
  }
}
@media only screen and (max-width: 990px) {
  #date {
    top: 9rem;
  }
  .header {
    height: 8.5rem;
  }
}
